pyTelegramBotAPI==4.16.1
python-telegram-bot[job-queue]==20.8

python-dotenv==1.0.1
bottle==0.12.19
requests==2.31.0
binance-connector==3.6.0

pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4

SQLAlchemy==2.0.29
